@import "tailwindcss";
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: teal;
}